{% extends 'base.html' %}
{% block title %}{{ user.username }}|| {{block.super}} {% endblock %}

{% block content %}

<h1>{{ user.username }}</h1>
<hr>
<h4>
	<a href="{% url 'create' %}">
		<button class="ui button">
				AddShopList
		</button>
	</a>
</h4>
{% for shop in user.shopping_set.all %}
			<div class="thumbnail">
				<b>{{shop.title}}</b>
				
				<ul>
				<a href="{{ shop.get_absolute_url}}">{{shop.category}}</a><br>
				{% for item in shop.get_content %}
	
				<span style="border-radius: 5px; background-color: #ccc;margin-right: 4px;padding: 2px 4px;">
				{{item}}
				</span>
	
			
				{% endfor %}
				</ul>

			</div>
	

{% endfor %}

{% endblock content %}