<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} shoplist.com {% endblock %} </title>
	{% include 'snippets/css.html' %}
</head>
<body>


<div class="container">
   <div class="row">
			<div class="col-sm-6 text-center col-sm-offset-3">
				
	            	<h2>shoplist.com</h2>
	    			{% include 'snippets/nav.html' %}

					{% block content %}
				
		
					{% endblock %}
					{% include 'snippets/js.html' %}
             
        	</div>
    </div>
 </div>

		
</body>
</html>