{% extends 'base.html' %}
{% block title %}{{block.super}} {% endblock %}

{% block content %}
	<h2>welcome to shoplist.com</h2>
	{% if request.user.is_authenticated %}
	<h5>You made it</h5>
	{% else %}
	<b>please login/register to see shoplists.</b>
	{% endif %}
	
{% endblock content %}