{% extends "base.html" %}

{% block content %}
<h4>SignUp</h4>
<form method="post" action="{% url 'register' %}">
{% csrf_token %}

    {{ form.as_p }}
<input type="submit" value="register" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<small>Did u need to<a href="{% url 'login' %}">Login?</a></small>




{% endblock %}