{% extends 'base.html' %}
{% block title %} detail-update || {{block.super}} {% endblock %}

{% block content %}<br>
<h3> {{form.instance.name}}<small>{{form.instance.category}}</small></h3>
	
	<p>{{form.instance.content}}</p>
	<p>by {{form.instance.owner}} on {{form.instance.timestamp}}<br> updated {{form.instance.updated | timesince}} ago</p>
<hr>
<h2>Make changes</h2>

{% include 'snippets/snipp-form.html' with form=form %}


{% endblock content %}