{% extends 'base.html' %}
{% block title %} detail || {{block.super}} {% endblock %}

{% block content %}
<h3>{{object.name}}<a href="{{ shop.get_absolute_url}}"><small>{{object.category}}</small></a></h3>
<p>{{object.content}}</p>
<p>by {{object.owner}} on {{object.timestamp}}<br> updated {{object.updated | timesince}} ago</p>
{% endblock content %}