{% extends 'base.html' %}
{% block title %} {{ object.title }} {{block.super}} {% endblock %}

{% block content %}

<h4><a href="{% url 'create' %}">
	<button class="ui button">
  				AddShopList
	</button>
</a>
</h4>
	{% for obj in object_list %}
				<div class="thumbnail">
					<b>{{obj.name}}</b>
					<ul>
						<p>{{obj.category}}</p>
						<span style="border-radius: 5px; background-color: #ccc;margin-right: 4px;padding: 2px 4px;">
							{{obj.content}}
						</span><br>
						on {{obj.timestamp}} by {{obj.owner}}
					</ul>
				</div>
			
	{% endfor %}
	
{% endblock %}