<a href="{% url 'home' %}">Home</a>
{% if request.user.is_authenticated %}
<a href="{% url 'lists' %}">mylists</a>
<a href="{% url 'recent' %}">recent</a>
<a href='{% url "logout" %}'>Logout</a>
{% else %}
<a href='{% url "register" %}'>Register</a>
<a href='{% url "login" %}'>Login</a>
<a href="{% url 'contact' %}">contact</a>
{% endif %}







